@model IEnumerable<Backend5.Models.Analysis>

@{
    ViewData["Title"] = "Index";
}

<h2>ShowWholeList</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(x => x.Date))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-analysisId="@item.Id" asp-route-patientId="@item.PatientId">Edit</a> |
                    <a asp-action="Details" asp-route-analysisId="@item.Id" asp-route-patientId="@item.PatientId">Details</a> |
                    <a asp-action="Delete" asp-route-analysisId="@item.Id" asp-route-patientId="@item.PatientId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
